<template>
  <b-form @submit.prevent="addToDo()">
    <b-input-group>
      <b-form-input
        v-model="newToDo"
        class="todoInput"
        type="text"
        placeholder="Create a ToDo..."
        required
      />
    </b-input-group>
  </b-form>
</template>

<script>
export default {
  name: "add-to-do",
  data() {
    return {
      newToDo: "",
    };
  },
  methods: {
    addToDo() {
      try {
        this.$emit("new-to-do", this.newToDo);
        this.$store.dispatch("addToDo", {note: this.newToDo});
        this.newToDo = "";
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.todoInput {
  margin: 20px;
}
</style>