<template>
  <div class="todo-comp">
    <b-list-group-item class="list">
      <p class="todoText">{{ todoText }}</p>
      <b-button v-on:click="deleteTodo" class="deleteButton" variant="outline-danger">Delete</b-button>
    </b-list-group-item>
  </div>
</template>

<script>
export default {
  name: "to-do",
  props: {
    todoText: String,
    id: Number
  },
  methods: {
    deleteTodo() {
      try {
        this.$store.dispatch("deleteTodo", {id: this.id})
        location.reload()
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style scoped>
.list {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.deleteButton {
  float: right;
}

.todoText {
  margin: 0px !important;
}
</style>
