<template>
  <b-container v-if="completed">
    <add-to-do @new-to-do="addToDo($event)" />
    <b-list-group class="list">
      <to-do v-for="(todoItem, index) in todos" :key="index" :todoText="todoItem.note" :id="todoItem.Id" />
    </b-list-group>
  </b-container>
</template>

<script>
import AddToDo from "./AddToDo.vue";
import ToDo from "./ToDo.vue";
import { FETCH_ALL_TODO } from "../store/acitons.type";

export default {
  name: "todo-list",
  data() {
    return {
      todos: [],
    };
  },
  components: { AddToDo, ToDo },
  methods: {
    addToDo(newToDo) {
      this.todos.push({ note: newToDo });
    },
    fetchAllData() {
      return new Promise((resolve, reject) => {
        var oldToDos = this.$store.dispatch(FETCH_ALL_TODO);
        if (oldToDos) {
          this.completed = true;
          resolve(oldToDos);
        } else reject();
      });
    },
  },
  created() {
    this.fetchAllData().then(res => {
      for (var i=0; i<res.length; i++) {
        this.todos.push(res[i])
      }
    })
    .catch((err) => {
      console.log(err);
    })
  },
};
</script>

<style scoped>
.list {
  margin-top: 20px;
}
</style>