<template>
  <div id="app">
    <h1>ToDo App</h1>
    <to-do-list />
  </div>
</template>

<script>
import ToDoList from './components/ToDoList.vue';

export default {
  name: "App",
  components: {
    ToDoList,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
}
</style>
